.image {
    width: 30rem !important;
}
.container {
    padding: 0 2rem;
    width: 100rem;
}

@media screen and (max-width: $mobile-width) {
    .image {
        width: 90rem !important;
        min-height: 40rem;
    }
    .card {
        margin: 2rem 0;
    }
}