.imgWrapper {
  width: 100%;
  object-fit: contain;
  img {
    height: 768px;
  }
}
.container {
  width: 100% !important;
  :global {
    .ant-image {
      width: 100%;
    }
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
      display: none;
    }
  }
}
