.title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 4rem 0 !important;
}
.container {
}
.carousel {
  width: 100% !important;
  :global {
    .ant-card-head-title {
      text-align: center;
    }
  }
}
.cardContainer {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 3rem;
  min-width: 260px;
  :global {
    .ant-image {
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .image {
    border-radius: 10px;
    width: 256px;
    height: 256px;
  }
}
.subTitle {
  margin: 2rem 0;
}
@media screen and (max-width: $mobile-width) {
  .carousel {
    :global {
      .ant-space {
        width: 100%;
        align-items: center;
      }
    }
  }
  .cardContainer {
    width: 90rem;
    height: 100%;
    align-items: center;
    margin: 0 5rem 4rem !important;

    .image {
      min-height: 70rem;
    }
  }
  .title {
    padding: 0 3rem !important;
  }
}
