.reservation {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding: 8px;
  &__form--hidden {
    display: none;
  }
  &__addon {
    font-size: 16px;
  }
  &__time-button,
  &__left-num {
    font-size: 16px;
    width: 160px;
    padding: 24px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__time-picker {
    margin-top: 20px;
  }
  &__time-button {
    pointer-events: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__left-num {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ant-steps-item-title {
    font-size: 16px !important;
  }
  .ant-select-selection-item {
    font-size: 16px;
  }
  .ant-steps-item-icon {
    width: 24px !important;
    height: 24px !important;
    font-size: 16px !important;
  }
  .ant-form-item-control-input-content input {
    height: 48px;
    font-size: 16px;
  }
  .ant-select,
  .ant-select-selection-placeholder {
    height: 48px;
    font-size: 24px;
  }
  .ant-input-number-input-wrap {
    width: 48px !important;
  }
  .ant-checkbox {
    display: none;
  }
  .ant-checkbox-group {
    display: flex;
    justify-content: space-between;
  }
  .ant-form-item-label label {
    font-size: 16px;
  }
  &__check-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
  &__check-store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__check-store span {
    padding: 0;
  }
  &__footer {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
  }
}
.reservation__check-inner {
  position: relative;
}
